@import "compass/css3";
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 700px;
  min-height:250px;
  margin: auto;
  border-radius:10px;
  overflow:hidden;
  background:white;
  margin-top:200px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

#quoteMark {
  font-family: 'Revalia', cursive !important;
  font-size:1.6em;
}

.quote {
  text-align: center;
  display:flex;
}



#quoter {
  text-align: center;
  background-color: #0A5CD4;
  color: white;
  border-style: none;
  box-shadow: none;
  cursor:pointer;
}

#quote-content {
  font-family: 'Special Elite', cursive;
  font-size:1.2em;
  text-align:left;
  padding-top:10px;
  flex:1;
}

#quote-title {
  text-align: right;
  font-family: 'Special Elite', cursive;
}

.tweet {
  padding:0;
}

#tweetButton {
  font-size: 2.2em;
  color: #0A5CD4;
}


@media all and (min-width: 400px) {
  .base {
    flex: 1 auto;
  }
  
  #quote-title{
    order:2;
  }
  .tweet {
    order: 2;
    display: flex;
    align-items:flex-end;
    padding:0px 10px 0px 20px;
  }
  .quoteButton {
    order: 3;
    
    display:flex;
    flex-direction:column;
    align-items:flex-end;
   justify-content:flex-end;
    
   
    padding: 10px 20px 10px 10px;
    
  }
}

body {
  padding: 2em;
  background-color: #0A5CD4;
}